
#register-form{
    width: 500px;
    background-color: white;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}
.input-label{
    margin: 0;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 12px;
    border-radius: 8px;
    padding-top: 10px;
    align-content: center;
}
.input-item{
    width: 100%;
    color: gray;
}
#checkbox{
    display: inline;
}
Button {
    background-color:lightseagreen;
    border-radius: 16px;
    width: 100%;
    margin-top: 10px;
    color:white;
    font-style: bold;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.12);
}