@keyframes rotates{
    100%{
        transform: rotate(360deg);
    }
}

.container{
    position: relative;
}
.rotateDiv{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transition: transform 0.25s;
}
.rotateImg{
    width: 100px;
    height: 100px;
    position: absolute;
    transition: transform 0.25s;
}
.rotateImg:nth-child(2){
    left: 200px;
}
.rotateImg:nth-child(3){
    top: 200px;
    left: 100px;
}